<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.example.car-performance" android:versionCode="10" android:versionName="2000-01-01">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.android.vending.BILLING" />
	<application android:label="@string/applicationName" android:icon="@drawable/icon"></application>
</manifest>